@import "../fonts/Fontes";

#areaCartaz,
#areaDadosSerie {
    display: inline-block;
}

#areaCartaz {
    width: 30%;
    text-align: center;
    vertical-align: top;
    padding-top: 30px;


    
}

#areaDadosSerie {
    width: 70%;
    font-family: $fonte-padrao;
    
    h2{
        font-family: $fonte-decorativa;
    }

    span {
        display: block;
    }
    .nomeCampo {
        font-family: $fonte-decorativa;
        margin-right: 5px;
    }

    #sinopse{
        display: inline;
        
    }
}