@font-face{
    font-family: 'anton regu';
    src:url(./Anton-Regular.ttf);
}
@font-face{
    font-family: 'cour regu';
    src:url(./Courgette-Regular.ttf);
}
$fonte-principal:'anton regu';
$fonte-lista:'cour regu';